<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
   
   
    
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>com.example.HelloWorld</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>fs</servlet-name>
        <servlet-class>com.example.FirstServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>fs</servlet-name>
        <url-pattern>/first</url-pattern>
    </servlet-mapping>

      <servlet>
        <servlet-name>ee</servlet-name>
        <servlet-class>com.example.SecondServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ee</servlet-name>
        <url-pattern>/second</url-pattern>
    </servlet-mapping>

 <filter>
      <filter-name>filter1</filter-name>
      <filter-class>com.example.F</filter-class>
  </filter>
   
  <filter-mapping>
      <filter-name>filter1</filter-name>
      <url-pattern>*</url-pattern>
  </filter-mapping> 
</web-app>
